$primary: #f18429;
$secondary: #1a4980;

.site-section-cover {
	&.overlay {
		&:before {
			background: transparent !important;
		}
    }
}

.btn-primary {
	background-color: $primary;
	border-color: $primary;
}

strong {
	color: $secondary;
}

/*.sticky-wrapper .site-navbar {
	background: transparent !important;
}

.sticky-wrapper.is-sticky .site-navbar {
	background: $secondary !important;
}*/


@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

/* Base */
@import "site-base";
/* Navbar */
@import "site-navbar";
/* Blocks */
@import "site-blocks";

.site-navbar .site-navigation .site-menu > li > a {
	color: $secondary !important;
}


