$primary: #f18429;
$secondary: #1a4980;

.site-section-cover {
	&.overlay {
		&:before {
			background: transparent !important;
		}
    }
}

.btn-primary {
	background-color: $primary;
	border-color: $primary;
}

.bg-primary {
	background-color: $primary !important;
}

.bg-gif {
	background-color: #fb8921 !important;
}

strong {
	color: $secondary;
}

.no-webp .cover {
	background-image: url("../images/Torino_Piazza_Castello.jpg") !important;
  }
  
  .webp .cover{
	background-image: url("../images/Torino_Piazza_Castello.webp") !important;
  }

  .no-js .cover {
	background-image: url("../images/Torino_Piazza_Castello.jpg") !important;
  }

/*.sticky-wrapper .site-navbar {
	background: transparent !important;
}

.sticky-wrapper.is-sticky .site-navbar {
	background: $secondary !important;
}*/


@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

/* Base */
@import "site-base";
/* Navbar */
@import "site-navbar";
/* Blocks */
@import "site-blocks";

.site-navbar .site-navigation .site-menu > li > a {
	color: $secondary !important;
}

.sticky-wrapper.is-sticky .site-navbar ul li a {
	color: $secondary !important;
}

.text-black {
	color: $secondary !important;
}


